In [1]:
# Algoritmos a serem utilizados
# k-Nearest Neighbors (kNN), Random Fo-rests, XGBoost, Support Vector Regression (SVR) e Neural Networks.

In [2]:
# Importando os pacotes necessários para a análise

import os

import pandas            as pd
import numpy             as np
import scipy             as sc
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_log_error,make_scorer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.reset_option('max_colwidth')

In [3]:
# Lendo a base de dados
df = pd.read_csv("dataset/preprocessed.csv")
print("Formato dos dados: ", df.shape)
print("#Exemplos: {}".format(df.shape[0]))
print("#Atributos: {}".format(df.shape[1]))

Formato dos dados:  (449633, 12)
#Exemplos: 449633
#Atributos: 12

In [4]:
df.head()

   created_on        lat        lon  surface_total_in_m2  surface_covered_in_m2  rooms  expenses   PH  apartment  house  store     price
0       981.0 -23.616325 -46.676620                 80.0                   80.0    2.0    1065.0  0.0        1.0    0.0    0.0  900000.0
1      1008.0 -30.051750 -51.182068                 91.0                   91.0    2.0       0.0  0.0        1.0    0.0    0.0  750000.0
2       568.0 -25.413214 -49.271294                168.0                  168.0    2.0       0.0  0.0        1.0    0.0    0.0  880000.0
3       755.0 -23.562290 -46.521248                145.0                  145.0    2.0       0.0  0.0        0.0    1.0    0.0  580000.0
4       764.0 -21.809600 -46.544624                138.0                  260.0    3.0       0.0  0.0        0.0    1.0    0.0  420000.0

# k-Nearest Neighbors (kNN)

In [6]:
from sklearn.neighbors import KNeighborsRegressor

In [8]:
train, test = train_test_split(df, test_size=0.33)

x_train = train.drop('price', axis=1)
y_train = train['price']

x_test = test.drop('price', axis=1)
y_test = test['price']

In [17]:
grid_params = {
'knn__n_neighbors': [3,7,11,15],
'knn__p': [1,2],

}

scorer = make_scorer(mean_squared_log_error, greater_is_better=False)

model = Pipeline([
    ('scaler', StandardScaler()),
    ('knn', KNeighborsRegressor(weights='distance'))])

gs = GridSearchCV(model, grid_params, verbose=4, n_jobs=-1, scoring=scorer, return_train_score=True)

In [18]:
gs_results = gs.fit(x_train, y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

In [19]:
gs_results.best_score_

-0.1754422039461345

In [20]:
gs_results.best_estimator_

Pipeline(steps=[('scaler', StandardScaler()),
                ('knn',
                 KNeighborsRegressor(n_neighbors=11, p=1, weights='distance'))])

In [21]:
gs_results.best_params_

{'knn__n_neighbors': 11, 'knn__p': 1}

In [9]:
model = Pipeline(steps=[('scaler', StandardScaler()),
                ('knn',
                 KNeighborsRegressor(n_neighbors=11, p=1, weights='distance'))])
y_predicted = model.fit(x_train, y_train).predict(x_test)

In [10]:
np.sqrt(mean_squared_log_error(y_test, y_predicted))

0.41045046641715205